<h1><center>Listing all categories</center></h1>
<center>
<%= will_paginate %>
<% @categories.each do |category| %>
    <ul class="listing">
      <div class="row">
        <center>
          <div class="well col-md-4 col-md-offset-4">
            <li class="article-title">
              <%= link_to "#{category.name}", category_path(category) %>
            </li>
          </div>
        </center>
      </div>
    </ul>
<% end %>
<%= will_paginate %>
</center>